body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: black;
}

.apex-logo img {
    height: 150px;
}

.left-flex {
    display: flex;
    justify-content: space-evenly;
    background-color: grey;
}

.left-flex a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 70px;
}

.main-flex {
    display: flex;
    flex-direction: column;
}

.right-flex {
    display: flex;
}