body {
    background-color: black;
}

.main-header {
    display: flex;
    justify-content: space-between;
}

.apex-logo {
}

.main-nav-bar {
    display: flex;
    align-items: flex-end;
}

.main-nav-bar a {
    text-align: center;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 20px;
}