body {
    background-color: #21dde2;
    font-family: 'Roboto', sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #262626;
    border-radius: 20px;
}

.nav-links {
    display: flex;
    list-style: none;
    font-size: 30px;
    gap: 40px;
    padding-right: 50px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

img {
    height: 80px;
    margin-left: 40px;
    border-radius: 20px;
}

.main-wrapper {
    display: flex;
}

.left-flex {
    background-color: #262626;
    color: white;
    width: 50%;
    border-radius: 20px;
    margin: 10px;
    padding: 10px
}

.right-flex {
    width: 50%;
    color: white;
}

.left-flex h1, 
.left-flex h2,
.left-flex p {
    text-align: center;
}

footer {
    text-align: center;
}

.fa-brands {
    color: #262626;
}

.white-background {
    border-radius: 20px;
    margin: 10px;
}

.schedule {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    background-color: #262626;
    border-radius: 20px;
    padding: 15px;
}

.schedule-header {
    font-weight: bold;
}
 
.schedule-header,
.schedule-content {
    text-align: center;
    padding: 2px;
}

.left-flex .white-background {
    padding-left: 15px;
    padding-right: 15px;
}